<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Mexicano</ion-title>
    </ion-navbar>

</ion-header>



<ion-content padding>
    <ion-list>
        <button detail-none (click)="expandItem(event)" ion-item *ngFor="let event of events">
  
            <h2>{{event.event}}</h2>     
            <expandable [expandHeight]="itemExpandHeight" [expanded]="event.expanded">
     
                    <p *ngIf="event.isLink" class="link" (click)="goInternet(event.response)">Liens</p>
                    <p *ngIf="!event.isLink">{{event.response}}</p>
                    <p class="red">Créateur : {{event.name}}</p>
            </expandable>
            <button *ngIf="role_id=='1'" ion-button clear item-end (click)="delete(event.id)">Delete</button>
            <button *ngIf="role_id=='2' " ion-button clear item-end (click)="askDelete(event.id)">Supprimer</button>

        </button>
      </ion-list>

    <ion-item *ngIf="!ifData" class="square">
        <p>Pas d'évènements</p>

    </ion-item>

</ion-content>